In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import numpy as np
from itertools import combinations, groupby
from collections import Counter

In [3]:
all_orders = pd.read_csv('data/interim/all_orders.csv', index_col = 0)
cluster_df = pd.read_csv('data/interim/cluster_df.csv')
products = pd.read_csv('data/products.csv')
aisles = pd.read_csv('data/aisles.csv')
departments = pd.read_csv('data/departments.csv')

In [11]:
i = all_orders[all_orders['cluster'] == 1]
i = i.set_index('order_id')['product_id'].rename('item_id')

In [13]:
i.columns

AttributeError: 'Series' object has no attribute 'columns'

In [6]:
all_orders

,order_id,product_id,add_to_cart_order,reordered,aisle_id,department_id,aisle,department,user_id,cluster
0,2,33120,1,1,86,16,eggs,dairy eggs,202279,5
1,2,28985,2,1,83,4,fresh vegetables,produce,202279,5
2,2,17794,6,1,83,4,fresh vegetables,produce,202279,5
3,2,43668,9,0,123,4,packaged vegetables fruits,produce,202279,5
4,2,9327,3,0,104,13,spices seasonings,pantry,202279,5
...,...,...,...,...,...,...,...,...,...,...
33819101,2942910,36885,1,1,134,5,specialty wines champagnes,alcohol,95228,0
33819102,77392,47713,1,1,134,5,specialty wines champagnes,alcohol,95228,0
33819103,679020,47713,1,1,134,5,specialty wines champagnes,alcohol,95228,0
33819104,1264096,47713,1,1,134,5,specialty wines champagnes,alcohol,95228,0
33819105,1751525,47713,1,0,134,5,specialty wines champagnes,alcohol,95228,0